@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I am an independant developer and as such my private policy is that this work be accredited to only me as well as any data used in this application be classified as dummydata or only be used as such</menu></aside></p>
